# Простейшая программа на Python

In [ ]:
print(1) # int()
print(1.0) # float()
print('q') # str()

1
1.0
q

In [ ]:
print(1, 'wer')
print(1, 2, 3)
print(1, 2, 3, sep='\n')
print('q')
print('w')

1 wer
1 2 3
1
2
3
q
w

In [ ]:
print(2 + 3)
print(2 - 3)
print(2 * 3)

print(4 / 2)
print(4 // 2)
print(4.5 // 0.5)
print(4 % 3)

print(4 ** 0.5)
print(8 ** (1 / 3))

print(max(1, 2, 3))
print(min(1, 2, 3))
print(abs(-7))
print(abs(7)) # Comment 1

5
-1
6
2.0
2
9.0
1
2.0
2.0
3
1
7
7

In [ ]:
a = 3
print(a)
a = 4.5
print(a)
b = 'b'
print(b)
a = b
print(a, b)

3
4.5
b
b b

In [ ]:
a = 'coffee'
b = 'tea'
c = 1
a, b = b, a
print(a, b)

tea coffee

Обменять значения переменных местами

In [ ]:
lst = [1, 2, 3] # list
print(lst)

[1, 2, 3]

In [ ]:
a1 = [1, 2]
a2 = a1.copy()
print(a1, a2)
a1[0] = 3
print(a1, a2)

[1, 2] [1, 2]
[3, 2] [1, 2]

# Логический тип

In [ ]:
print(True, False)
a, b = "1", "abc"
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)
print(ord("a"))
print(chr(700))
print(chr(ord("a") + 26))
print("a" + "b")
print("a" * 3)

print(int(1 > 2))
# int()

True False
False
True
False
True
False
True
97
ʼ
{
ab
aaa
0

In [ ]:
print(int("1"))
print(int(1.8))
print(float("1.5"))
print(float(1))
print(str(1), str(1.5))
print(int(True), int(False))
print(bool(3), bool(-3))
print(bool(0))

1
1
1.5
1.0
1 1.5
1 0
True True
False

# Условный оператор

In [ ]:
t = int(input())
c = int(input())
print(t + c)
if t + c > 8:
  print("Good")
elif t + c < 3:
  print("So-so")
else:
  print("bad")

5
5
10
Good
bad

In [ ]:
count_bottles # snake_case
countBottles # camelCase

In [ ]:
t = float(input())
if t == 36.6:
  print("OK")
elif t == 37:
  print("PANIC")
elif t == 38:
  print("AAAAAAA!")
elif t == 39:
  print("Hmm, I want drink tea")
elif t == 40:
  print("Ambulance")
else:
  print("...")

In [ ]:
t = float(input())
match t:
  case 36.6:
    print("OK")
  case 36.7:
    print(".")

36.6
OK

In [ ]:
a, b = int(input()), int(input())
if a > b and a % 2 == 0:
  print("OK")
if a > b or a % 2 == 0:
  print("OK 2")
if a <= b:
  print("OK 3")

SyntaxError: invalid syntax (ipython-input-2169186276.py, line 6)

In [ ]:
s1, s2 = input(), input()
print(len(s1), len(s2))
if s2 not in s1:
  print("OK")
else:
  print("NO")

abrac
g
5 1
OK

# Циклы в Python

In [ ]:
salary = 0
while salary <= 5000:
  cake_cost = int(input())
  salary += cake_cost
print(salary)

5000
1
5001

In [ ]:
salary = 0
for count in range(3): # 0, 1, 2
  cake_cost = int(input())
  salary += cake_cost
print(salary)

1000
0
2000
1
3000
2
6000

In [ ]:
range(n) => [0, 1, ..., n - 1]
range(0, n)
range(n, m) => [n, n + 1, n + 2, ..., m - 1]
range(n, m + 1)
range(n,m, 2) => [n, n + 2, ..., m - 1]

In [ ]:
print(*range(2, 5))
print(*range(5, -1, -1))

2 3 4
5 4 3 2 1 0

In [ ]:
a, b, c = map(int, input().split(", "))
print(a, b, c)

1, 2, 3
1 2 3

In [ ]:
lst = list(map(int, input().split()))
print(lst)

1 2 3 4
[1, 2, 3, 4]